nav {
  background-color: var(--bg-sidebar) !important;
  border-radius: 20px;
}

@media (min-width: 992px) {
  .style-brand,
  .row-gap-2 {
    min-width: 200px;
  }
  .row-gap-2 {
    justify-content: flex-end !important;
  }
}

.btn-theme {
  background-color: var(--color-teks) !important;
  color: var(--teks-nav-btn) !important;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.btn-hero a {
  background-color: #e67e22;
}

.nav-link {
  transition: all 0.2s ease-in-out;
  color: var(--color-teks) !important;
}

.nav-link:hover:not(.btn-signIn) {
  transform: translateY(-2px);
  transition: 0.2s ease-in-out;
}

.accessibility-dropdown {
  position: absolute;
  top: 90px;
  color: black !important;
  right: 10px;
  width: 320px;
  min-height: 100px;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
  z-index: 1050;
}

@media (max-width: 768px) {
  .btn-theme {
    width: 100% !important;
  }

  .accessibility-dropdown {
    right: 45px;
    top: 100%;
  }
}
