body {
    background-color: var(--bg-body) !important;
    font-family: 'Segoe UI', sans-serif;
}

@media (max-width: 576px) {
    .techStack .col-6 {
        width: 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 576px) {
    .partner {
        margin-top: 0 !important;
    }

    .partner #changeTheme {
        margin-top: 150px !important;
    }
}