body {
  font-family: "Poppins", Arial, sans-serif !important;
}

:root {
  --bg-body: #f8fafc;
  --bg-toggle: black;
  --toggle-circle: #ffffff;
  --transition-speed: 0.4s;
  --color-teks: #0f172a;
  --color-teks-sub: #475569;
  --border-radius: 10px;

  --btn-started: black;
  --color-btnStarted: white;
  --btn-viewDemo: #f1f5f9;

  --teks-form: black;
  --bg-formContact: #f8f9fa;
  --border-form: #e9ecef;
}

[data-theme="dark"] {
  --bg-body: #0f172a;
  --bg-toggle: #ffffff;
  --toggle-circle: black;
  --color-teks: white;
  --bg-card: #121212;
  --border-radius: 10%;

  --btn-started: white;
  --color-btnStarted: black;
  --color-btnViewDemo: black;

  --teks-form: #ffffff;
  --bg-formContact: #1e1e1e;
  --border-form: rgba(255, 255, 255, 0.08);
  --background-input: #1a1a1a;
  --color-input: white;
  --border-input: rgba(255, 255, 255, 0.15);
}

@keyframes reveal-animation {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.reveal {
  animation: reveal-animation linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.sweetalert-btn:hover {
  background-color: #bd2130;
}

.sweetalert-popup {
  background-color: var(--bg-formContact) !important;
  color: var(--teks-form) !important;
  border-radius: 15px !important;
  border: 1px solid var(--border-form);
}

.swal2-actions {
  display: flex !important;
  width: 100% !important;
  padding: 0 20px !important; /* Biar ada jarak kanan-kiri gak terlalu nempel dinding */
  box-sizing: border-box;
}

.sweetalert-btn-error {
  width: 100% !important;
  display: block !important;
  background-color: #dc3545;
  height: 50px;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.sweetalert-btn-success {
  width: 100% !important;
  display: block !important;
  background-color: green;
  height: 50px;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
