body {
  background-color: var(--bg-body) !important;
}

.promote {
  height: 100%;
  padding: 100px;
  color: white !important;
  background-image: url("/frontEnd/assets/background/9333f00957425e173ae553ca70f5b930\ -\ Copy.png");
  background-repeat: none !important;
  background-size: cover;

  background-size: 100% auto;
  background-position: center;
  transition: background-size 0.5s ease-in-out;
}

.card {
  background-color: var(--bg-sidebar) !important;
  color: var(--color-teks) !important;
}

.promote:hover {
  background-size: 110% auto;
}

@media (max-width: 768px) {
  .container-support {
    margin-top: 30% !important;
  }

  .gambar-depan-wikrama {
    display: none;
  }

  .promote {
    background-repeat: none !important;
    background-size: cover !important;
    /* background-image: none;
    background-color: var(--bg-sidebar); */
  }
}
