/* ===== General Reset & Base ===== */
body {
  background-image: url("");
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* ===== Main Content ===== */
/* --- SISI KIRI --- */
.contact-left-side {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("/src/assets/background/1695789061-post.jpg") center/cover no-repeat;
  position: relative;
  z-index: 1;
  text-align: left;
}

.contact-subtitle {
  color: rgba(255, 255, 255, 0.7);
}

.contact-icon {
  color: #0dcaf0;
}

.contact-desc-small {
  color: rgba(255, 255, 255, 0.6);
}

/* --- SISI KANAN (FORM CARD) --- */
.contact-right-side {
  background-color: var(--bg-formContact);
}

.contact-form-card {
  max-width: 650px;
  background-color: var(--bg-form);
  padding: 6rem;
  border: 1px solid var(--border-form);
  border-radius: 30px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.contact-form-card:hover {
  box-shadow: 0 24px 100px #e67e22 !important;
  transition: 0.3s ease-in-out;
}

.contact-label {
  color: var(--color-input);
  font-size: 0.875rem;
  font-weight: 500;
}

.contact-input {
  background-color: var(--background-input) !important;
  padding: 0.8rem 1rem;
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.contact-input::placeholder {
  color: var(--color-input) !important;
}

.contact-input-addon {
  background-color: #f8f9fa;
  color: #6c757d;
  border-right: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.contact-input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 0.25rem rgba(99, 102, 241, 0.25);
}

/* Tombol Submit Custom */
.contact-btn-submit {
  background-color: #e67e22;
  color: #ffffff;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.contact-btn-submit:hover {
  background-color: orange;
  color: #ffffff;
}

.contact-terms-text {
  color: #6c757d;
  font-size: 0.75rem;
}

.contact-terms-text a {
  color: #6366f1;
  font-weight: 500;
}
