/* Reset dasar */
body {
  background-image: url("/src/assets/images/02c1705facb70b09797338a8a4cf59a2.jpg");
  font-family: poppins;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/* Container utama */
.container {
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Grid form */
.grid {
  background: linear-gradient(180deg, #e0f2ff 0%, #ffffff 100%, #ffffff 100%);
  padding: 2rem;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin-top: 60px;
  /* margin-bottom: 39px; */
}

/* judul */
.grid h1 {
  margin-bottom: 0.5rem;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.grid p {
  margin-bottom: 1.5rem;
  color: #666;
  font-family: "Poppins", sans-serif;
}

/* Label dan input */
.grid label {
  font-size: 0.9rem;
  color: #444;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* icon input mata */
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  /* ruang untuk icon */
}

.password-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

/* Tombol */
.button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #2facd2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background: #2d849e;
}

/* Link kecil */
h6 {
  margin-top: 1rem;
  color: #555;
}

/* sosial icons */

.social-icons .icon i {
  background: #f1f1f1;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
  transition: 0.3s;
}

.social-icons .icon i:hover {
  transform: scale(1.1);
}

/* .bi-google {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(45deg, #DB4437, #F4B400, #0F9D58, #4285F4);
  -webkit-mask: url("data:image/svg+xml;utf8,<svg ...>") no-repeat center;
  -webkit-mask-size: contain;
  mask: url("data:image/svg+xml;utf8,<svg ...>") no-repeat center;
  mask-size: contain;
  z-index: 999;
} */
